[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	log = false
[user]
	name = Brightshine
	email = brightshine.hsieh@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = less -r
[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	re = remote

	amend = commit --amend

	unstage = reset HEAD
	uncommit = reset --soft HEAD^

	cbr = rev-parse --abbrev-ref HEAD
	lo = log --oneline
	dt = difftool
	mt = mergetool
	showt = "!f() { git dt $1^ $1; }; f"
	files = "!f() { git diff --name-status $1^ $1; }; f"

	svnhead = log --grep=git-svn --pretty=format:'%h' -n 1

	sf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"

	graph = log --pretty=format:'%h %s' --graph
[merge]
	tool = vim

[push]
	default = simple

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
